html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* Use border-box model for consistent sizing */
    height: 100%;
    /* Ensure body occupies 100% of viewport height */
    overflow: hidden;
    /* Disable both vertical and horizontal scrolling */
    background-color: black;
   
}

/* Default Font Family And Size for app*/
* {
    font-family: Verdana, sans-serif;
    font-size: 20px;
    /* Increased base font size */
}


/* --- Layout --- */
#whole {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
    max-width: 495px;
    /* set the fixed width, limit at 495px*/
    border-left: 1px solid lightgrey;
    background-color: white;
    border-right: 1px solid lightgrey;
}

/* --- Top Navigation --- */
.topnav {
    position: relative;
    z-index: 10;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    max-width: 495px; /* matches fixed container*/
    background-color: #fff;
    border-bottom: 1.5px solid #ececec;
    height: 23px;
    margin-left: auto;
    /* Add horizontal margin */
    margin-right: auto;
    /* Add horizontal margin */
}



/* ---  Crossword table and Grid cells  ---*/
#table {
  position: relative;
  top: -15px !important;
  width: 90% !important;
  max-width: 390px;
  border-collapse: collapse;
  /* Required to stop table growing*/
  border: 3px solid black;
  /* Thicker outer border */
  margin-left: auto;
  margin-right: auto;
  /* Center the table in it's div container*/

}
#table td {
    border: 1px solid gray;
    /* Thinner inner borders */
    padding: 0;
    
}
.cell {
    border-radius: 0;
    outline: none;
    border: none;
    text-align: center;
    font-size: 40px;
    opacity: 1;
    -webkit-text-fill-color: black;
    box-sizing: border-box;
    /*Ensure padding and border don't affect size*/
    padding: 0;
    padding-top: 15px;
   
}
/* cell background style */
.black-cell {
    background-color: black !important;
}
.cell-number {
    position: absolute;
    top: 1px;
    left: 2px;
    font-size: 22px;
    color: black;
}


/*  --- Input Keyboard -- */
#keysize1 {
    z-index: 10;
    position: fixed;
    bottom: 0px;
    width: 100%;
    padding-top: 25px;
    height: 200px;
    background-color: #ececec !important;
    display: block;
    justify-content: center;
}


#keyboard {
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100% !important;
    background-color: #ececec !important;
     /* makes keyboard full width, matches window content container */
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    padding-top: 17px;
    padding-bottom: 100px;
    padding-right: 5px;
    padding-left: 5px;
    position: relative;
    top: 0px;
    max-width: 495px;
     /* Fixed size matching window width content*/
}


.keyboard-row {
    display: flex;
    justify-content: center;
}


#keyboard button {
    height: 42px;
    margin: 1px;
    font-weight: 500;
    margin-bottom: 8px;
    font-size: 22px;
    text-align: center !important;
    border: 1px solid #e3e3e3;
    background-color: white;
    cursor: pointer;
    border-radius: 5px;
    color: black;
    padding: 0;
    width: 9.5%;
    font-weight: 500;
    max-width: 40px;
}

#keyboard button:hover {
    background-color: #e0e0e0;
}

/* Hint container */
#hint-container {
  z-index: 2;
  position: relative;
  top: 0px;
  display: flex;
  align-items: center;
  width: 100% !important;
  /* Ensure width respects set layout */
  background-color: #99DAFF;
  /* Light blue background color */
  padding: 3px;
     height: 40px;
    max-width: 490px;
    /* matches fixed app content container*/
  margin-left: auto;
  margin-right: auto;
  /* positions hints as child on same horizontal x axis in page*/
}
#hint-text {
    width: 100%;
    font-size: 12px;
    text-align: left;
    margin-left: 5px;
    /* Add horizontal margin */
    margin-right: 10px;
    /* Add horizontal margin */
}
#prev-hint {
  font-size: 17px;
  cursor: pointer;
  font-weight: bold;
  background-color: transparent;
  /* Remove button background color */
  border: none;
  font-weight: bold;
  flex-shrink: 0;
  /* Prevent buttons from shrinking */
  color: black;
}
#next-hint {
  font-size: 16px;
  margin-right: 7px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  /* Remove button border */
  font-weight: bold;
  flex-shrink: 0;
  /* Prevent buttons from shrinking */
  color: black;
}


/* --- Popups Modals  ---*/
.modal {
    display: none;
    /* Hidden by default */
     width: 100%;
}

.modal-content {
    background-color: white;
}

.close {
    color: #99DAFF;
    float: right;
    font-size: 28px;
    font-weight: bold;
    /* Add this to change the "x" sign colour*/
}
 #overlay {
            position: fixed;
            top: 0;
            left: 0;
             width: 100%;
            height: 100%;
             background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
            display: flex;
              justify-content: center;
          align-items: center;
           z-index: 1000;
            /* Ensure it's on top */
      }

 #popup {
            background-color: white;
              padding-top: 30px;
             border-radius: 10px;
              text-align: center;
             max-width: 495px; /* Limit width to max view port size */
                 width: 100%;
            bottom:0px;
           box-shadow: 0 4px 8px rgba(0,0,0,0.2);
                position: absolute;
               height: 500px;
  }
    #popup label {
           display: block;
            margin-bottom: 10px;
               font-weight: bold;
                padding-left: 20px;
                 padding-right: 20px;
         }
 #popup input[type="text"] {
           padding: 10px;
               border: 1px solid #575757;
             border-radius: 5px;
               margin-bottom: 15px;
                  width: 80%;
              font-size: 16px;
                   box-sizing: border-box;
            background-color: lightgrey;
                   margin-left: auto;
                margin-right: auto;
  }

 #popup button {
       background-color: #99DAFF;
                 color: black;
               padding: 12px 20px;
              font-size: 16px;
              border: none;
              border-radius: 5px;
           cursor: pointer;
                 transition: background-color 0.3s ease;
                width: 80%;
              margin-left: auto;
                margin-right: auto;
   }
#confetti-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 1000;
}
  #popup button:hover {
   background-color: #FFD800;
 }
